:root {
    --primary-color: #e60012;
    --secondary-color: #8c8c8c;
    --third-color: #ffffff;
    --text-color: #000000;
    --details-color: #C7C7C7;
    --type-fight: #d56723;
    --type-plant: #9bcc50;
    --type-ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%); 
    --type-water: #4592c4;
    --type-steel: #9eb7b8;
    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", serif;
}

.main-menu {
    background-color: var(--primary-color);
    height: auto;
    width: auto;
    font-weight: 700;
    font-size: var(--lg);
    border-radius: 0px 0px 10px 10px;
}

.logo {
    height: 50px;
    width: 50px;
}

figure {
    margin: 4px;
}

.menu {
    display: flex;
    justify-content: space-between;
    
}

.menu ul > li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 24px;
    vertical-align: middle;
}

.menu ul > li a {
    display: inline;
    color: var(--third-color);
    text-decoration: none;
}

.menu ul > li a:hover {
    color: var(--text-color);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

.title {
    font-size: var(--lg);
    font-weight: 700;
    margin-bottom: 18px;
}

.images {
    height: 300px;
    width: 300px;
    margin: 5px;
}

.card-presentation {
    display: inline-block;
    margin-top: 30px;
    border: 1px 50% solid var(--text-color);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), 
    -5px -5px 10px rgba(51, 27, 27, 0.171);
}

.card-presentation p:nth-of-type(1) {
    font-family: "Oswald", serif;
    font-size: var(--md);
    font-weight: 200;
    margin: 10px;
}

.card-presentation p:nth-of-type(2) {
    display: flex;
    margin: 16px;
    justify-content: center;
    font-size: var(--lg);
    font-weight: 500;
}

.types {
    display: inline-flex;
    align-items: center;
}

.types p:nth-of-type(1) {
    font-family: "Oswald", serif;
    font-size: var(--sm);
    font-weight: 300;
    background-color: var(--type-fight);
    color: var(--third-color);
    margin: 10px 5px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
}

.types p:nth-of-type(2) {
    font-family: "Oswald", serif;
    font-size: var(--sm);
    font-weight: 300;
    background-color: var(--type-steel);
    color: var(--text-color);
    margin: 10px 5px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
}

.main-cards > div {
    display: inline-block;
    justify-content: center;
    margin: 32px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--third-color);
    text-align: center;
    padding: 10px;
    font-size: var(--md);
    font-weight: 600;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    border-radius: 10px;
}