/* Variables de Custom properties */
:root {
    --primary-color: #e60012;
    --secondary-color: #8c8c8c;
    --third-color: #ffffff;
    --text-color: #000000;
    --details-color: #C7C7C7;
    --type-fight: #d56723;
    --type-plant: #9bcc50;
    --type-ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%); 
    --type-water: #4592c4;
    --type-steel: #9eb7b8;
    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

/* Evita errores de margenes y corrige el margen y padding de la página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Tamaño de letra para toda la página ajustada para valores relativos */
html {
    font-size: 62.5%; /* 1rem = 10px para escalabilidad */
}

/* Dirección de la página y su fuente de letra */
body {
    font-family: "Inter", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

/* Menu */

/* Contenedor del menu principal */
.main-menu {
    background-color: var(--primary-color);
    height: auto;
    width: 100vw;
    font-weight: 700;
    font-size: var(--lg);
    border-radius: 0 0 1rem 1rem;
}

/* Logo del menu */
.logo {
    height: 4rem;
    width: auto;
}

/* Contenedor de las imagenes (logo) */
figure {
    margin: 0.4rem;
}

/* Contenido del menu */
.menu {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.menu ul {
    display: flex; /* Dirección del contenido del menu */
    gap: 2rem;
    list-style: none;
}

.menu ul > li a {
    color: var(--third-color);
    text-decoration: none;
}

.menu ul > li a:hover {
    color: var(--text-color);
}

/* Contenido principal de la página */

.main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.title {
    font-size: var(--lg);
    font-weight: 700;
    margin-bottom: 1.5rem;
}

/* Ajuste de imagenes para que sean responsive */
.images {
    height: 25rem;
    max-height: 30rem; 
    width: auto;
    margin: 0.5rem;
}

/* Ajustes del contenedor de las cartas */
.card-presentation {
    display: inline-block;
    min-width: 20rem;
    margin-top: 3rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3), 
    -0.5rem -0.5rem 1rem rgba(51, 27, 27, 0.171);
}

.card-presentation p:nth-of-type(1) {
    font-family: "Oswald", serif;
    font-size: var(--md);
    font-weight: 200;
    margin: 1rem;
}

.card-presentation p:nth-of-type(2) {
    display: flex;
    margin: 1.6rem;
    justify-content: center;
    font-size: var(--lg);
    font-weight: 500;
}

/* Ajustando la posición de los tipos */
.types {
    display: inline-flex;
    align-items: center;
}

/* Color y tamaño para cada tipo */

.types p:nth-of-type(1) {
    font-family: "Oswald", serif;
    font-size: var(--sm);
    font-weight: 300;
    background-color: var(--type-water);
    color: var(--third-color);
    margin: 1rem 0.5rem;
    padding: 0.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 1.6rem;
}

.types p:nth-of-type(2) {
    font-family: "Oswald", serif;
    font-size: var(--sm);
    font-weight: 300;
    background: var(--type-ground);
    color: var(--text-color);
    margin: 1rem 0.5rem;
    padding: 0.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 1.6rem;
}

.main-cards > div {
    display: inline-block;
    justify-content: center;
    margin: 3.2rem;
}

/* Pie de página */
.footer {
    background-color: var(--secondary-color);
    color: var(--third-color);
    text-align: center;
    padding: 1rem;
    font-size: var(--md);
    font-weight: 600;
    width: 100vw;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Ajustando los iconos del footer */
.icon {
    width: auto;
    height: 2rem;
    border-radius: 50%;
}

/* Responsive Design */

/* Celulares (max-width: 480px) */
@media screen and (max-width: 480px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }
    
    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
    }

    .card-presentation {
        display: inline-block;
        min-width: 20rem;
        max-width: 30rem;
        margin-top: 3rem;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3), 
        -0.5rem -0.5rem 1rem rgba(51, 27, 27, 0.171);
    }

    .card-presentation p:nth-of-type(1) {
        font-size: var(--lg);
    }

    .card-presentation p:nth-of-type(2) {
        font-size: var(--lg);
    }
    
}

/* Tablets (481px - 1024px) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .card-presentation p:nth-of-type(1) {
        font-size: var(--lg);
    }

    .card-presentation p:nth-of-type(2) {
        font-size: var(--lg);
    }

    .main-cards > div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2.2rem;
    }
}