:root {
    --primary-color: #e60012;
    --secondary-color: #8c8c8c;
    --third-color: #ffffff;
    --text-color: #000000;
    --details-color: #C7C7C7;
    --type-fight: #d56723;
    --type-plant: #9bcc50;
    --type-ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%); 
    --type-water: #4592c4;
    --type-steel: #9eb7b8;
    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px para escalabilidad */
}

body {
    font-family: "Inter", serif;
}

.main-menu {
    background-color: var(--primary-color);
    height: auto;
    width: 100%;
    font-weight: 700;
    font-size: var(--lg);
    border-radius: 0 0 1rem 1rem;
}

.logo {
    height: 4rem;
    width: auto;
}

figure {
    margin: 0.4rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu ul > li a {
    color: var(--third-color);
    text-decoration: none;
}

.menu ul > li a:hover {
    color: var(--text-color);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.title {
    font-size: var(--lg);
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.images {
    height: 18vw; /* Escalable según el viewport */
    max-height: 30rem; /* Límite máximo */
    width: auto;
    margin: 0.5rem;
}

.card-presentation {
    display: inline-block;
    margin-top: 3rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3), 
    -0.5rem -0.5rem 1rem rgba(51, 27, 27, 0.171);
}

.card-presentation p:nth-of-type(1) {
    font-family: "Oswald", serif;
    font-size: var(--md);
    font-weight: 200;
    margin: 1rem;
}

.card-presentation p:nth-of-type(2) {
    display: flex;
    margin: 1.6rem;
    justify-content: center;
    font-size: var(--lg);
    font-weight: 500;
}

.card-presentation p:nth-of-type(3) {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: var(--sm);
    font-style: italic;

}

.card-presentation p:nth-of-type(4) {
    display: flex;
    justify-content: flex-end;
    margin: 1.4rem;
    border-radius: 1rem;
    font-family: "Oswald", serif;
    font-weight: 300;
    font-size: var(--sm);  
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--third-color);
    text-align: center;
    padding: 1rem;
    font-size: var(--md);
    font-weight: 600;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon {
    width: auto;
    height: 2rem;
    border-radius: 50%;
}