/* Variables de Custom properties */
:root {
    --primary-color: #e60012;
    --secondary-color: #8c8c8c;
    --third-color: #ffffff;
    --text-color: #000000;
    --details-color: #C7C7C7;
    --text-input: #F7F7F7;
    --type-fight: #d56723;
    --type-plant: #9bcc50;
    --type-ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%); 
    --type-water: #4592c4;
    --type-steel: #9eb7b8;
    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

/* Evita errores de margenes y corrige el margen y padding de la página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Tamaño de letra para toda la página ajustada para valores relativos */
html {
    font-size: 62.5%; /* 1rem = 10px para escalabilidad */
}

/* Dirección de la página y su fuente de letra */
body {
    font-family: "Inter", serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

/* Menu */

/* Contenedor del menu principal */
.main-menu {
    background-color: var(--primary-color);
    height: auto;
    width: 100vw;
    font-weight: 700;
    font-size: var(--lg);
    border-radius: 0 0 1rem 1rem;
}

/* Logo del menu */
.logo {
    height: 4rem;
    width: auto;
}

/* Contenedor de las imagenes (logo) */
figure {
    display: flex;
    margin: 0.4rem;
    justify-content: center;
}

/* Contenido del menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.menu ul {
    display: flex; /* Dirección del contenido del menu */
    gap: 2rem;
    list-style: none;
}

.menu ul > li a {
    color: var(--third-color);
    text-decoration: none;
}

.menu ul > li a:hover {
    color: var(--text-color);
}

/* Contenido principal de la página */

.main-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Contenedor del formulario */
.main-form {
    display: flex;
    flex-direction: column;
    width: 22%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3), 
    -0.5rem -0.5rem 1rem rgba(51, 27, 27, 0.171);
}

.main-form label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    gap: 1rem;
    font-weight: 500;
    font-size: var(--md);
}

.main-form label > input {
    width: auto;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--text-input);
}

/* Boton de ingreso */
.btn-success {
    margin-top: 3rem;
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 0.5rem;
    border-radius: 1rem;
}

.btn-success:active {
    background-color: var(--third-color);
    color: var(--text-color);
}

/* Aviso en letra pequeña y enlace */

.main-form p {
    margin-top: 1.2rem;
    font-size: var(--sm);
    font-family: "Oswald", serif;
    font-weight: 300;
}

.main-form p > a {
    text-decoration: none;
    color: var(--primary-color);
}

.main-form p > a:hover {
    color: var(--secondary-color);
}

/* Pie de página */
.footer {
    background-color: var(--secondary-color);
    color: var(--third-color);
    text-align: center;
    padding: 1rem;
    font-size: var(--md);
    font-weight: 600;
    width: 100vw;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Ajustando los iconos del footer */
.icon {
    width: auto;
    height: 2rem;
    border-radius: 50%;
}

/* Responsive Design */

/* Celulares (max-width: 480px) */
@media screen and (max-width: 480px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;     
    }
    
    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
    }

    .main-form {
        width: 80%;
    }

    .main-form label > input {
        width: auto;
    }
}

/* Tablets (481px - 1024px) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .main-form {
        width: 35%;
    }

    .main-form label > input {
        width: auto;
    }
}